@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .container-log {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 380px;
        margin: 0 auto;
    }

    h2 {
        color: #e11515;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 6px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        background-color: #e11515;
        width: 100%;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

        button:hover {
            background-color: rgba(225, 21, 21, 0.8);
        }
</style>

<div class="container-log mt-5 mb-5">
    <h2 class="mb-3 text-center">Login</h2>
    <form  method="post" asp-controller="Account" asp-action="Login">

        <div style="color:red;" asp-validation-summary="All"></div>


        <label asp-for="EmailOrUsername">Email or Username</label>
        <input asp-for="EmailOrUsername">
        <span style="color:red;" asp-validation-for="EmailOrUsername"></span>
        <label asp-for="Password">Password</label>
        <input asp-for="Password">
        <span style="color:red;" asp-validation-for="Password"></span>
        <div class="custom-control custom-checkbox mb-2">

            <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
            <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
        </div>


        <button type="submit">Login</button>
    </form>
</div>

@section script{

    <partial name="_ValidationScriptsPartial" />
}