@model AdvertCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5" style="margin-left:30px">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea style="border-color:grey;" asp-for="Description" id="Description" cols="70"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="DirectionId">Directions</label>
            <select asp-for="DirectionId" asp-items="@ViewBag.directions" class="form-control">
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Photo">Image</label>
            <input asp-for="Photo" class="form-control">
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a class="btn btn-light" asp-action="Index">Back</a>
    </form>
</div>

@section script{

    <script src="~/ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace("Description");</script>
}