@model SliderVM
@{
    ViewData["Title"] = "Detail";
}

<div class="container mt-5 " style="margin-left:30px">

    <div style="width:400px; height:250px;" class="image">
        <img src="~/img/hero/@Model.Image" style="width:100%" />
    </div>

    <div class="slider-text">
        <h6>@Model.Header</h6>
        <h6>@Model.Title</h6>
        <p>@Model.Description</p>
    </div>

    <div class="back mt-2">
        <a class="btn btn-info text-white" asp-action="Index">Back</a>
    </div>
</div>