@model ContactInfoVM

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-left:30px">
    <h1 class="text-center mt-3 mb-3">Contact Info</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                 
                    <th>
                        Description
                    </th>
                    <th>
                        CreatedDate
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
              
                    <tr>


                        <td class="py-1">
                            @Model.Descriptiom.Substring(0, (int)Math.Ceiling(Model.Descriptiom.Length * 0.3))
                        </td>

                        <td>
                            @Model.CreatedDate.ToString("MM/dd/yyyy")
                        </td>

                        <td>
                            <a class="btn btn-outline-info" asp-action="InfoDetail" asp-route-id="@Model.Id">Detail</a>
                            <a class="btn btn-outline-primary" asp-action="InfoEdit" asp-route-id="@Model.Id">Edit</a>
                        
                        </td>
                    </tr>
                

            </tbody>
        </table>
    </div>

</div>